.head{
	background-color:lightgray;
}

.box1{
	background-color:#ff0000;
}

.box2{
	background-color:#999999;
}

.box3{
	background-color:#666666;
}

.box4{
	background-color:#333333;
	color:white;
}

.box5{
	background-color:#cfa339;
}

.box6{
	background-color:#55148c;
	color:white;
}

.box7{
	background-color:#376d6a;
}

.box8{
	background-color:#000000;
	color:white;
}

.box9{
	background-color:#006000;
}

.box10{
	background-color:#ff66cc;
}

.box11{
	background-color:#7b3f00;
}

.box12{
	background-color:#FF5733;
}

.box13{
	background-color:#33A2FF;
}

.box14{
	background-color:#5E1769;
	color:white;
}

.box15{
	background-color:#775F66;
}

.box16{
	background-color:#93A496;
}